
/* HSL */
$color1: hsla(0%, 0%, 13%, 1);
$color2: hsla(199%, 91%, 64%, 1);
$color3: hsla(0%, 0%, 95%, 1);
$color4: hsla(0%, 0%, 98%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(34, 34, 34, 1);
$color2: rgba(79, 195, 247, 1);
$color3: rgba(242, 242, 242, 1);
$color4: rgba(250, 250, 250, 1);
$color5: rgba(255, 255, 255, 1);
$color6: rgba(255,220,115, 1);